{% extends "base.html" %}
{% block content %}
<style>
    .login_block {
    width: 800px;
    border: 1px solid green;
    border-radius: 50px;
    padding: 50px;
    background-color: MistyRose;
    margin: 20px auto;
}
</style>
<form action="/register" class="login_block" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Введите email">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Введите пароль">
    </div>
    <div class="form-group">
        <label for="password2">Пароль ещё раз</label>
        <input type="password" name="password2" class="form-control" id="password2"
               placeholder="Введите пароль ещё раз">
    </div>
    <div class="form-group">
        <label for="password">Имя</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Введите имя">
    </div>
    <button type="submit" class="btn btn-info">Зарегистрироваться</button>
</form>
<h3 class="desk" align="center">{{ message }}</h3>
{% endblock %}